@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Supermercado One', cursive;
}

.container {
  width: inherit;
  height: inherit;
  background-color: #9E9E9E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex-info {
  text-align: center;
}

span {
  font-size: 92px;
}

.hex-title {
  color: crimson;
}

.color-numbers {
  color:#460574;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  transition: all .4s ease;
  color: black;
}

.btn:hover {
  background-color: crimson;
  border: 2px solid crimson;
}